.item {
  padding: 10px;
  color: #fff;
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
}

.item .text {
  flex: 1;
}
.item .btn {
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
}
.item .btn:hover {
  color: #016f88;
}

.new {
  background-color: #01afd7;
  border: thin solid #1396cb;
}
.done {
  background-color: #4caf50;
  border: thin solid #fff;
  color: #fff;
}
.done .text {
  text-decoration: line-through;
  color: #fff;
}
